validate.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="articles">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="article" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="source" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="author" type="xs:string" minOccurs="0" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" minOccurs="0" />
              <xs:element name="url" type="xs:anyURI" />
              <xs:element name="urlToImage" type="xs:anyURI" minOccurs="0" />
              <xs:element name="publishedAt" type="xs:dateTime" minOccurs="0" />
              <xs:element name="full_content" type="xs:string" minOccurs="0" />

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>